.messages {
    height: auto;
    min-height: calc(100% - 128px);
    max-height: calc(100% - 128px);
    overflow-y: scroll;
    overflow-x: hidden;

    // &::-webkit-scrollbar {
    //     width: 4px;
    //     background: rgba(0, 0, 0, .0);
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: rgba(0, 0, 0, .3);
    // }

    ul {

        li {
            display: inline-block;
            clear: both;
            // float: left;
            margin: 3px 15px;
            width: calc(100% - 25px);
            font-size: 0.9em;
            @media screen and (max-width: 735px)
            {
                max-height: calc(100% - 105px);
            }

            &.sent {

                div {
                    float: left;
                    margin: 1px 4px 0 0;
                    
                    // padding-top: 0%;
                }

                p {
                    // background:#e0e0e0;
                    float: left;
                    // color: $white;
                }
            }

            &.replies {

                div {
                    float: right;
                    margin: 1px 0 0 4px;
                }


                p {
                    // background:#f5f5f5;
                    
                    float: right;
                }
            }

            // div {
            //     width: 30px;
            //     border-radius: 50%;
            //     float: left;
            // }

            p {
                word-break: break-word !important;
                display: inline-block;
                padding: 5px 15px !important;
                border-radius:10px !important;
                max-width: 60% !important;
                // margin-bottom: 2px;
                // line-height: 10% !important;
                // font-size: x-large !important;
                // margin-right: 2px;
                line-height: 20px !important;
            }
            h6{
                font-size: 13px;
                margin-left: 15px;
                color: #888888;
            }
        }
    }
}
// .messages{
//     ul{
//         li{
//             div{

//             }
//         }
//     }
// }